<!DOCTYPE html>
<html lang="en" ng-app="rsModalApp">
<head>
    <meta charset="UTF-8">
    <title>rsModal</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    
    <section class="container" ng-controller="RsModalCtrl as vm">
        <h1 class="jumbotron">rsModal, the best modal system that ever was and ever will be.</h1>

        <rs-modal></rs-modal>

        <button ng-click="vm.show()" class="btn btn-primary">Show</button>
        <button ng-click="vm.hide()" class="btn btn-primary">hide</button>
        <label for="type">Type</label>
        <select name="type" id="type" ng-model="vm.type">
            <option value="success">Success</option>
            <option value="info">Info</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
        </select>
    </section>

    <script src="bower_components/angular/angular.js"></script>
    <script src="rs-modal.js"></script>
    <script>
    (function() {
        angular
            .module('rsModalApp', ['rs-modal'])
            .controller('RsModalCtrl', RsModalCtrl)


        function RsModalCtrl($rsModal) {
            var vm = this;
        }

    })();
    </script>
</body>
</html>